[Unit]
Description=Host webUI for Wi-Fi configuration
After=wificonfigurator-accesspoint.service
ConditionPathExists=!/etc/wificonfigurator.done

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=/etc/wificonfigurator.conf
ExecStartPre=/usr/bin/wificonfig-certificates
ExecStart=wificonfigui --wpa-template ${WPA_SUPPLICANT_TEMPLATE} --wifi-interface ${WIFI_INTERFACE}
ExecStopPost=wificonfig-check-connection ${WIFI_INTERFACE}
RestartSec=5

[Install]
WantedBy=multi-user.target
