[Unit]
Description=Host webUI for Wi-Fi configuration
After=wificonfigurator-accesspoint.service

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/wificonfigurator.conf
ExecPre=/usr/bin/wificonfig-certificates
ExecStart=wificonfigui
ConditionPathExists=!/etc/wificonfigurator.done

[Install]
WantedBy=multi-user.target
